@model IEnumerable<AthenaAuth.Models.Group>

@{
    ViewData["Title"] = "Group List";
}

<h1>Group List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    <a asp-action="User" asp-route-id="@item.GroupId">Users</a> |
                    <a asp-action="Template" asp-route-id="@item.GroupId">Templates</a> |
                    <a asp-action="Edit" asp-route-id="@item.GroupId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.GroupId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
